In [1]:
import pandas as pd

In [12]:
filepath_train = 'augmented_data/train_2024.csv'
df = pd.read_csv(filepath_train, quoting=3)

In [13]:
df.head()

   id                                               text  label
0   0  Except that Desmond played [neutral] first bas...      0
1   1  What i find funny is the loyalty and blindness...      0
2   2  Read the article [neutral]  not just [neutral]...      0
3   3  Speaking of a [neutral] horses backside  [neut...      1
4   4  Michael Barone- [neutral] gee are [neutral] yo...      1

In [14]:
df['text'] = df['text'].str.replace(r"\[", "(", regex=True)
df['text'] = df['text'].str.replace(r"\]", ")", regex=True)

In [15]:
df.head()

   id                                               text  label
0   0  Except that Desmond played (neutral) first bas...      0
1   1  What i find funny is the loyalty and blindness...      0
2   2  Read the article (neutral)  not just (neutral)...      0
3   3  Speaking of a (neutral) horses backside  (neut...      1
4   4  Michael Barone- (neutral) gee are (neutral) yo...      1

In [17]:
filepath_train_preprocessed = 'augmented_data/train_2024_preprocessed.csv'
df.to_csv(filepath_train_preprocessed, index=False)